/* Variables for colors, geometry */
// Colors
$color-lime-green: hsl(163, 72%, 41%);
$color-bright-red: hsl(356, 69%, 56%);

$color-facebook: hsl(195, 100%, 50%);
$color-twitter: hsl(203, 89%, 53%);
$color-instagram: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  )
  1;
$color-youtube: hsl(348, 97%, 39%);
$color-toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

// Media Viewport Widths
$desktop-width: 1340px;
$desktop-mobile: 375px;

/* Themes */
// Dark Theme
$bg-dark-blue: hsl(230, 17%, 14%);
$bg-top-dark-pattern-blue: hsl(232, 19%, 15%);
$bg-card-dark-desaturated-blue: hsl(228, 28%, 20%);
$color-dark-desaturated-blue: hsl(228, 34%, 66%);
$color-white: hsl(0, 0%, 100%);

// Light Theme
$bg-light-white: hsl(0, 0%, 100%);
$bg-top-light-pattern-light-blue: hsl(225, 100%, 98%);
$bg-card-light-grayish-blue: hsl(227, 47%, 96%);
$color-light-dark-grayish-blue: hsl(228, 12%, 44%);
$color-light-dark-blue: hsl(230, 17%, 14%);

// Typography
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // Making the root font-size 10px instead of 16px for rem units
}

body {
  font-family: "Inter", sans-serif;
  background-color: $bg-dark-blue;
  color: $color-white;
}

a {
  text-decoration: none;
}

/* Classes for Toggling*/
.bodyToggle {
  background-color: $bg-light-white;
}

.cardToggle {
  background-color: $bg-card-light-grayish-blue !important;
}

.headerTitleToggle {
  color: lighten($color: #222, $amount: 10) !important;
}

.headerTextToggle {
  color: lighten(
    $color: $color-light-dark-grayish-blue,
    $amount: 10
  ) !important;
}

.handleNameToggle {
  color: lighten($color: $color-light-dark-blue, $amount: 30) !important;
}

.detailCountToggle {
  color: lighten($color: #222, $amount: 10) !important;
}

.detailFollowersToggle {
  color: $color-light-dark-grayish-blue !important;
}

.overviewTitleToggle {
  color: lighten(
    $color: $color-light-dark-grayish-blue,
    $amount: 10
  ) !important;
}

.overviewCardTitle {
  color: lighten($color: $color-light-dark-blue, $amount: 30) !important;
}

.overviewCountToggle {
  color: lighten($color: #222, $amount: 10) !important;
}
