@import "base";
@import "media";

/* Main Container holding the whole layout */
.container {
  max-width: $desktop-width;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/***** HEADER *****/
.header {
  width: 100%;
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__head {
    padding: 1rem 2rem;

    h1 {
      color: $color-white;
      letter-spacing: 0.2rem;
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    h3 {
      color: $color-dark-desaturated-blue;
      letter-spacing: 0.1rem;
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  &__toggle {
    padding: 1rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      color: $color-dark-desaturated-blue;
      letter-spacing: 0.1rem;
      font-size: 1.4rem;
      font-weight: 700;
      margin-right: 1.5rem;
    }

    .wrapper__toggle {
      display: flex;
      justify-content: center;
      align-items: center;

      input[type="checkbox"] {
        height: 0;
        width: 0;
        visibility: hidden;
      }

      label {
        cursor: pointer;
        text-indent: -9999px;
        width: 65px;
        height: 30px;
        background: linear-gradient(
          to right,
          hsl(210, 78%, 56%),
          hsl(146, 68%, 55%)
        );
        display: block;
        border-radius: 100px;
        position: relative;
      }

      label:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 25px;
        height: 25px;
        background: #333;
        border-radius: 90px;
        transition: 0.5s;
      }

      input:checked + label {
        background: hsl(230, 22%, 74%);
      }

      input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
        background: #fff;
      }

      label:active:after {
        width: 30px;
      }
    }
  }
}

/*****Social Cards*****/
.social-cards {
  margin-top: 2.5rem;
  padding: 1rem 4rem;
  width: 100%;
  margin-bottom: 2rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3.5rem;

  &__fb {
    border-top: 3.5px solid $color-facebook;
  }

  &__twitter {
    border-top: 3.5px solid $color-twitter;
  }

  &__instagram {
    position: relative;
    border-top: 3.5px solid;
    border-image: $color-instagram;
    overflow: hidden;
  }

  &__youtube {
    border-top: 3.5px solid $color-youtube;
  }
}

.card {
  background-color: $bg-card-dark-desaturated-blue;
  padding: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: lighten(
      $color: $bg-card-dark-desaturated-blue,
      $amount: 5
    );
  }

  &__top {
    width: 100%;
    margin: 1rem;
    padding: 1rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__main {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1.count {
      color: $color-white;
      font-size: 5rem;
      margin-bottom: 0.5rem;
    }

    h3 {
      color: $color-dark-desaturated-blue;
      font-size: 1.1rem;
      font-weight: 100;
      letter-spacing: 0.5rem;
    }
  }
}

.handles {
  &__logo {
    margin-right: 0.8rem;
  }

  h4 {
    color: $color-dark-desaturated-blue;
    font-size: 1.2rem;
  }
}

// Inheritant Styles for progression
%progression-shared {
  font-size: 1.2rem;
  display: block;
  padding: 1rem 2rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.progression {
  &__pos {
    @extend %progression-shared;
    color: $color-lime-green;

    i {
      margin-right: 1rem;
      font-size: 1rem;
      font-weight: 700;
    }

    span {
      font-size: 1.3rem;
    }
  }

  &__neg {
    @extend %progression-shared;
    color: $color-bright-red;

    i {
      margin-right: 1rem;
      font-size: 1rem;
      font-weight: 700;
    }

    span {
      font-size: 1.3rem;
    }
  }
}

/***** OVERVIEW *****/

// Title
.overview {
  padding: 1rem 4rem;
  width: 100%;

  h2 {
    display: block;
    text-align: left;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
  }
}

// Profile
.profile {
  &__overview {
    width: 100%;
    padding: 1rem 4rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
  }

  &__card {
    background-color: $bg-card-dark-desaturated-blue;
    padding: 2rem 2.5rem;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: lighten(
        $color: $bg-card-dark-desaturated-blue,
        $amount: 5
      );
    }
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    color: $color-dark-desaturated-blue;
    font-size: 1.7rem;
  }

  h1 {
    color: $color-white;
    font-size: 3rem;
    margin-top: 2rem;
  }
}

.metrics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  &__pos {
    margin-bottom: 0.5rem;

    i {
      color: $color-lime-green;
      font-size: 1rem;
      margin-right: 0.4rem;
    }

    span {
      color: $color-lime-green;
      font-size: 1.2rem;
    }
  }

  &__neg {
    margin-bottom: 0.5rem;

    i {
      color: $color-bright-red;
      font-size: 1rem;
      margin-right: 0.4rem;
    }

    span {
      color: $color-bright-red;
      font-size: 1.2rem;
    }
  }
}
